@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 30vh 45vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "controles    controles"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-informacion {
    grid-area: content;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white    ;
    width: 100%;
    height: 100%;
}
.espacio-informacion{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.titulo {
    display: flex;
    gap: 5px;
    font-size: 24pt;
    font-weight: 1000;
}

.titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/
.controles{
    grid-area: controles;
    background-color: black;
    height: 100%;
    width: 100%;
}
.espacio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #FFD966;
    height: 70%;
    
}

.control-empresas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(76, 76, 76);
    height: 250px; 
    width: 350px;
    border-radius: 15px;
    border:5px solid #FFD966
}
.control-ofertas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(76, 76, 76);
    height: 250px; 
    width: 350px;
    border-radius: 15px;
    border:5px solid #FFD966
}
.dibujo{
    background-color: #ffd966;
    width: 120px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 20%;
}
.boton1{
    color: #FFD966;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(46, 46, 46);
    width: 150px;
    height: 30px;
    border: 2px solid #ffd966;
    margin: 10px;
    
}
.boton1:hover{
    background-color: #ffd966;
    color: black;
    transition: 0.8s;
    cursor: pointer;
}
.boton2{
    color: #FFD966;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(46, 46, 46);
    width: 150px;
    height: 30px;
    border: 2px solid #a0a0a0
}
.boton2:hover{
    background-color: #a0a0a0;
    color: black;
    cursor: pointer;
    transition: 0.8s;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}


